.git-card {
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  box-shadow: rgba(#1a1e22, 0.3) 0 10px 30px -15px;
  color: rgb(88, 96, 105);
  background: var(--white);
  flex-direction: column;
  text-decoration: none;
  border-radius: 5px;
  color: var(--dark);
  display: flex;
  padding: 20px;
  height: 100%;
  &:hover {
    box-shadow: rgba(#1a1e22, 0.2) 0 8px 20px -15px;
  }
  &-title {
    margin-bottom: 20px;
    align-items: center;
    display: flex;
    > i {
      flex-basis: 24px;
    }
    span {
      text-overflow: ellipsis;
      overflow: hidden;
      flex: 1;
      &::first-letter {
        text-transform: uppercase;
      }
    }
  }
  &-desc {
    margin-bottom: 20px;
  }
  &-stats {
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    font-size: 12px;
    display: flex;
    * {
      align-items: center;
      display: flex;
    }
    > * {
      i {
        margin-right: 10px;
      }
      & + * {
        margin-left: 20px;
      }
    }
    &-color {
      > i {
        border-radius: 50%;
        height: 10px;
        width: 10px;
      }
    }
  }
}
