:root {
  --font: "Source Code Pro", serif;
  --font2: "Source Sans Pro", sans-serif;
  --light: #f6f8fa;
  --white: #fff;
  --blue: #0070f3;
  --bluelight: #119da4;
  --red: #ea526f;
  --dark: #1a1e22;
  --black: #070600;
  --row: 70em;
  --in-row: 40em;
}
